<h1><%= @post.id %> post new comment here</h1>
<h1 class="span12">create your note</h1>
<%= form_tag "/users/#{current_user.id}/post/#{@post.id}/comments" do |p|%>
<table class="span8">
	<tr class="span8" style="border:1px #111 solid">
		<td class="span2" style="text-align:right">title</td>
		<td class="span6"><%= text_field 'comment',"title",:style=>"width:300px"%></td>
	</tr>
	<tr class="span8" style="border:1px red solid">
		<td class="span2" style="text-align:right">content</td>
		<td class="span6"><%= text_area(:comment,:content,:rows=>10,:cols=>170,:style=>"width:300px;height:300px") %></td>
	</tr>
		<tr class="span8" style="border:1px red solid">
		<td class="span2" style="text-align:right"></td>
		<td class="span6"><%= submit_tag %></td>
	</tr>
</table>
<% end %>
